/** Custom styles **/

.timer {
  font-size: xx-large;
}

.timespent {
  margin-right: 6px;
}

.frame {
  border: none;
}

/* Edit dialog's header button */
.sources-button {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  border-top-style: none;
  border-bottom-style: none;
}

.sources-button:hover:not(:backdrop) {
  background-image: none;
  text-shadow: none;
}

.comments-frame {
  border: 1px solid @borders;
}

.not-ended {
  background-color: @error_color;
  color: @theme_selection_fg_color;
}
